body {
  background-color: #4CAF50;
  color: white;
}



.zoom {

   transition: transform .2s;
   margin: 0 auto;
   text-align: center;
   margin-top: 200px;;
}

.zoom:hover {
   -ms-transform: scale(1.5); /* IE 9 */
   -webkit-transform: scale(1.5); /* Safari 3-8 */
   transform: scale(1.5);
}
