body{
  background-color: #2f4159;
  margin: 0;
}


script {
  padding: 20px;
    background-color: #4CAF50;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}
